@using X.PagedList.Mvc.Core;

@{
    ViewData["Tiele"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/Layout_Main.cshtml";
  
}

@model X.PagedList.IPagedList<DanhMucSP>

@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)
}

   
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page, maloai = ViewBag.maloai }))
</div>
